* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  position: relative;
  background: antiquewhite;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  text-align: center;
}


#menu{
    list-style-type: none;
    padding: 0 ;
    background: linear-gradient(180deg, violet 0%,  rgb(255, 167, 255) 41.15%,antiquewhite 100%);
    text-align: center;
    font-size: 16px;
}

#menu li{
    display: inline;
    
}

#menu li a {
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;

}

#menu li a:hover{
    color: white;

}


  
  .heading {
    margin-bottom: 3rem;
    color: violet;
  }

  .header {
    margin: 0 auto;
    padding: 3rem 0;
    width: 65%;
  }

.videos{
    background-color:#ffe1e1 ;
    margin: 0 3% 0 3% ;
}

.m-video{
    padding: 27px;
    width: 450px;
    height: 280px;
    border-radius: 30px;
}

.h-memes{
    background-color:antiquewhite;
    padding: 90px;
}

.memes{
  background-color:#ffe1e1 ;
  margin: 0 3% 0 3% ;;
}

.musicas{
    margin-top: 150px;
    background-color: #ffe1e1;
    margin: 0 3% 0 3% ;
    color: black;
}

.p-musica{
    padding: 16px;
    font-size: 30px;
    text-align: center;
}

  /* Grids --------------------------------------------*/
  
  .container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 150px);
    margin: 0 auto;
    max-width: 90%;
    padding: 3rem 0;
  }
  
  /* Grid images --------------------------------------------*/
  
  .img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* Grid items --------------------------------------------*/
  
  .item-4 {
    grid-row: 2/5;
  }
  
  .item-5 {
    grid-row: 2/6;
  }
  
  .item-6 {
    grid-row: 2/4;
  }
  
  .item-7 {
    grid-row: 5/6;
  }
  
  .item-8 {
    grid-row: 4/6;
  }
  
  .item-9 {
    grid-row: 6/11;
  }
  
  .item-10 {
    grid-row: 6/7;
  }
  
  .item-11 {
    grid-row: 6/9;
  }
  
  .item-12 {
    grid-row: 7/12;
  }
  
  .item-13 {
    grid-row: 9/13;
  }
  
  .item-14 {
    grid-row: 11/13;
  }

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.container-f{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
  padding: 70px ;
  margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
}

